mat-spinner {
  margin: 3rem auto;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffffb0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}